<div id="wrapper">
  <%= render 'admin/share/left_nav'%>
  <div id="page-wrapper" class="gray-bg">
    <%= render 'admin/share/header'%>
    <div class="wrapper wrapper-content">
      <div class="lg-box animated fadeInRightBig">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>管理员信息表</h5>
                <div class="pull-right">
                  <%= link_to new_admin_administrator_path, remote: true, format: :js, class: "ibox-title-new member-new" do %>
                    <i class="fa fa-plus fa-lg"></i>添加管理员
                  <% end %>
                </div>
              </div>
              <div class="ibox-content">
                <table class="table">
                  <thead>
                    <tr class="text-center">
                      <th>排序</th>
                      <th>邮箱</th>
                      <th>编辑</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @administrators.each_with_index do |administrator, index| %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= administrator.email %></td>
                      <td>
                        <%= link_to edit_admin_administrator_path(id: administrator.id), class: 'btn btn-xs btn-default', remote: true, format: :js do %>
                          <span class="glyphicon glyphicon-edit"></span>
                        <% end %>
                        <%= link_to admin_administrator_path(id: administrator.id), method: :delete, class: 'btn btn-xs btn-danger' do %>
                          <span class="glyphicon glyphicon-trash"></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-center" colspan="6">
                        <ul class="pagination"></ul>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'admin/share/footer'%>
  </div>
</div>
<div id="administratorModalContent"></div>