<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div class="text-center">
      <h1 class="logo-name ">DTBY+</h1>
    </div>
    <h2>欢迎登录！</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"m-t" ) do |f| %>
    <div class="field form-group">
      <%= f.label :邮件 %><br />
      <%= f.email_field :login, class:"form-control", placeholder:"邮件", autofocus: true %>
    </div>

    <div class="field form-group">
      <%= f.label :密码 %><br />
      <%= f.password_field :password, class:"form-control", placeholder:"密码", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-primary block full-width m-b" %>
    </div>
    <% end %>
  </div>
</div>