<% content_for :title do %>
  参赛老师
<% end %>

<%= render partial: "share/banner" %>

<div class="welcome-title">刘某某老师，您好！</div>
<div class="wrap">
	<div class="players">
		<table class="table">
			<thead>
				<tr>
					<th>序号</th>
					<th>姓名</th>
					<th>说课名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<% index = 0 %>
				<% @players.each do |player| %>
				<tr>
					<td><%= index += 1 %></td>
					<td><%= player.name %></td>
					<td>《<%= player.title %>》</td>
					<td>
						<%= link_to "点评", "#", class: "btn btn-danger btn-xs btn-player" %>
					</td>
				</tr>
				<% end %>
			</tbody>	
		</table>
	</div>
	<!-- 返回上一页 -->
	<%= render partial: "share/turn_back" %>
</div>

<script>
	// window.onload = function(){
	// 	var img = $(".banner").height();
	// 	var body = document.body.clientHeight;
	// 	$(".wrap").height(body - img);
	// }
</script>