<% content_for :title do %>
  参赛老师
<% end %>

<%= render partial: "share/banner" %>

<div class="welcome-title"><strong><%= current_judge.name %>老师，您好！</strong></div>
<div class="wrap">
	<div class="players">
		<table class="table">
			<thead>
				<tr class="dark-purple">
					<th>序号</th>
					<th>姓名</th>
					<th>说课名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<% index = 0 %>
				<% @players.each do |player| %>
				<tr>
					<td><%= index += 1 %></td>
					<td><%= player.name %></td>
					<td>《<%= player.title %>》</td>
					<td>
						<% if is_judged(player, current_judge) %>
							<a href="javascript:void(0)" class = "btn btn-danger btn-xs btn-show" data-toggle="modal" data-target="#myModal">查看</a>
						<% else %>
							<%= link_to "点评", new_grade_path(player_id: player.id), class: "btn btn-danger btn-xs btn-judge" %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>	
		</table>
	</div>
</div>

<!-- 返回上一页 -->
<%= render partial: "share/turn_back" %>

<%= render partial: "share/modal" %>
<script>
	// window.onload = function(){
	// 	var img = $(".banner").height();
	// 	var body = document.body.clientHeight;
	// 	$(".wrap").height(body - img);
	// }
</script>